<div class="footer-container">
  <footer class="footer">
    <div class="footer__logos">
      <img src="assets/images/logo-unico.svg" alt="Logo unico">
      <img src="assets/images/logo-politecnica.png" alt="Logo politécnica">
      <img src="assets/images/logo-ontology.png" alt="Logo ontology">
      <img src="assets/images/logo-UE.png" alt="Logo fundación por la UE">
    </div>
  </footer>

  <div class="footer__company">
    <p> Zaragoza Data Space - Intelligent Private-Public Neutral Carbon Platform (IPPCP) © {{ year }}</p>
  </div>
</div>
